# Ignore all files inside the dataset/ folder
dataset/*
# But do not ignore the dataset/ folder itself
!dataset/

# Ignore all files inside the results/ folder
results/*
# But do not ignore the results/ folder itself
!results/

